.container {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 2rem; /* 顶部留白 */
}

.main {
  padding: 0 2rem;
}

.title {
  margin: 2rem 0;
  font-size: 2.5rem; /* 大标题 */
  text-align: center;
}

.gallery {
  margin: 2rem 0;
}

.imageGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 瀑布流布局 */
  margin-top: 1rem;
}

.comments {
  margin: 2rem 0;
  text-align: center;
}

/* Home.module.css */
.galleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
